@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="text-center">
    <h1 class="display-4">Version 1</h1>
    <p>Let'r Rip tater Chip!</p>
</div>

<div class="text-center">
    <h1 class="display-4">Version 2</h1>
    <p>Hot Dog!</p>
</div>


<div class="text-center">
    <h1 class="display-4">Version 3</h1>
    <p>Look ma! I'm in a container!</p>
</div>